
@font-face {
	font-family: 'Gotham-Black';
	src: url("Gotham-Black.otf");
	font-weight: 500;
}

@font-face {
	font-family: 'Graphik-Bold';
	src: url("Graphik-Bold.otf");
	font-weight: 500;
}

@font-face {
	font-family: 'Graphik-Regular';
	src: url("Graphik-Regular.otf");
	font-weight: 300;
}

@font-face {
	font-family: 'Graphik-Light';
	src: url("Graphik-Light.otf");
	font-weight: 200;
}


.top_box > img {
	position: absolute;
	width: 100%;
	opacity: 0.5;
	top: -20px;
}

.top_box {
	position: relative;
	height: 480px;
	background-color: #8F6232;
	z-index: 0;
	overflow: hidden;
}

#top_box_text {
	position: absolute;
	width: 100%;
	margin-top: 80px;
	text-align: center;
	color: #fff;
}

#top_box_text > h1 {
	font-size: 42pt;
	font-family: Gotham-Black;
	text-shadow: 2px 2px #000;
}

#top_box_text > h2 {
	margin-top: 40px;
	font-size: 24pt;
	font-family: Gotham-Black;

}


#top_center_image {
	margin-top: -150px;
}


#top_center_image > img {
	position: absolute;
	display: block;
	margin-left: -260px;
	margin-right: auto;
	border: 8px solid #fff;
	width: 520px;
	height: 350px;
	left: 50%;
}

#top_arrow {
	width: 70px;
	margin: 0px auto;
}
#top_arrow > img {
	position: absolute;
	display: block;
	width: 65px;
	height: 65px;
	margin: -235px auto;
	opacity: 0.3;
}

#top_arrow > img:hover {
	opacity: 1;
}

.center_line {
	position: absolute;
	display: block;
	left: 50%;
	margin-left: -2px;
	margin-top: 140px;
	outline: 1.5px solid rgba(184, 141, 95, 0.72);
	width: 3px;
	height: 400px;
	background-color: rgba(184, 141, 95, 0.78);
}

.bottom_box {
	margin-top: 350px;
	position: relative;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	clear: both;
}

.right{
	position: relative;
	display: block;
}

#signup {
	margin-top: 180px;
	text-align: center;
}

#signup h1 {
	font-family: Graphik-Bold;
	color: #43994D;
	margin-bottom: 30px;
}

.left{
	position: relative;
	display: block;
}

#details{
	margin-top: 50px;
	margin-right: 8%;
	margin-left: 8%;
	color: #474747;
}

#details_one > p {
	font-family: Graphik-Bold;
	font-size: 16pt;
}

#details_one > p > span {
	font-family: Graphik-Light;
	font-size: 16pt;
}

#details_two {
	margin-top:50px;
}

#details_two > p {
	font-family: Graphik-Light;
	font-size: 16pt;
}

#details_two > p > span{
	font-family: Graphik-Bold;
	font-size: 16pt;
}

footer {
	display: block;
	margin-left: auto;
	margin-right: auto; 
}

#footer {
	margin-top: 40px;
	text-align: center;
	color: #949392;
}

#footer > p > a {
	color: #949392;
}

#signup_para {
	margin-top: 20px;
	padding: 0px 130px;
	color: #9C9A9A;
}

#middle_headline {
	width: 80%;
	margin: 40px auto 0px;
	text-align: center;
}

#middle_headline h2 {
	font-size: 24pt;
	font-family: Gotham-Black;
	color: #43994D;
}

.btn-success {
	border-style:outset !important;
	border-width: 3.5px !important;
}

#mc_embed_signup {
	background-color: #fff;
	outline: 80px solid #fff;
	margin-top: -100px;
	width: 400px !important;
	left: 50%;
	margin-left: -200px;
	position: absolute;
	display: block;
	padding: 0px 0px;
}

#about_box {
	width: 500px;
	left: 50%;
	margin-left: -250px;
	background-color: #fff;
	position: absolute;
	border: 40px solid #fff;
	margin-top: -150px;
	}